
.container {
	max-width: 1200px;
	margin: 0 auto;
}
#carousel {
  border: 5px solid;
  width: 400px;
  height: 300px;
  display: block;
  overflow: hidden;
}

#carousel ul {
	list-style: none;
	width: 2000px;
	height: 300px;
	padding: 0;	
	margin: 0;
}
#carousel ul li {
	float: left;
}
#carousel img {
	width: 400px;
	height: 300px;
}
nav {
	display: flex;
	justify-content: center;
	align-content: center;
}
nav .fa {
	background: #1B95E0;
	padding: 20px;
}
nav .fa-angle-left {
	margin-right: 80px;
}
nav .fa-angle-right {
	margin-left: 80px;
}
nav .dot {
	background: #ccc;
	padding: 5px;
	border-radius: 50%;
	margin: 0 10px 0 10px;
}